.buttonsContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #88afc9;
  font-size: 18px;
  color: #88afc9;
  outline: none;
  font-family: "Source Code Pro";
  opacity: 0;

  animation: fadeIn 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.button:hover {
  border: 1px solid #dae6ee;
  color: #dae6ee;
  cursor: cell;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 620px) {
  .button {
    font-size: 14px;
    width: 80px;
    height: 40px;
  }
}
