.instructions {
  position: fixed;
  top: 30px;
  left: 60px;
  color: #88afc9;
  font-family: Source Code Pro;
  font-size: 20px;
  opacity: 0;

  animation: fadeIn 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
